#ahem-button {
    background-color: #0044fd;
    color: white;
    border: solid;
    border-color: #000000;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

#applause-button {
    background-color: #df9b08;
    color: white;
    border: solid;
    border-color: #000000;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

#arrow-button {
    background-color: #11d40b;
    color: white;
    border: solid;
    border-color: #000000;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

#buttons {
    display: flex;
    flex-direction: row;
}

